%strong Hi,
%p #{@user.name_or_email} has added you to his Vendorlight account.
%p Please follow this link to update your information: #{link_to 'Your VendorLight Account', client_relationships_url}

%p Thanks!
%p The VendorLight Team
%p hello@vendorlight.com
