%strong Hi,
%p #{@user.name_or_email} has requested that you update your information on VendorLight.
%p Please follow this link to view this information: #{link_to 'Your VendorLight Account', edit_client_relationship_url(@relationship)}

%p Thanks!
%p The VendorLight Team
%p hello@vendorlight.com
