.row
  .span4
    = link_to 'Edit Account Details', user_path(@user, user_action: 1), class: 'btn btn-large btn-info span3'
  .span4
    = link_to 'Manage My RecurList', user_path(@user, user_action: 2), class: 'btn btn-large btn-info span3'
  .span4
    = link_to 'View RecurBox Order History', user_path(@user, user_action: 3), class: 'btn btn-large btn-info span3'
