.row.margin-top-80
  .span3 &nbsp;
  .span6
    .welcome-box
      %h2 Have an account manager?
      %h2 Request a quick update!
      %br
      = form_tag invite_path, method: 'get', class: 'form-inline' do 
        = text_field_tag 'email', '', type: 'text', placeholder: 'Vendors email here...', required: true
        = submit_tag 'Send Request', class: 'btn btn-primary'
      %br
      %span{ style: 'float:right; margin-right: 10px;' }
        Still not sure?
        = link_to 'How VendorLight Works', '#'
  .span3 &nbsp;
