= form_for @client, :url => client_path(@client), :html => { :class => "edit_client", :id => "edit_client" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
