.row
  .span12
    %h1 HEADLINE TEXT HEADLINE TEXT TEXT HEADLINE TEXT
.row.screenshot-image
  .span1 &nbsp;
  .span5
    %ul.thumbnails.margin-top-30
      %li
        .thumbnail.span4
          = image_tag 'test.gif', alt: '' 
  .span1 &nbsp;
  .span6.description.margin-top-40
    %dl
      %dt Heading 1
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    %dl
      %dt Heading 1
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    %dl
      %dt Heading 1
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit,

.row
  .span6
    %dl
      %dt Product Description
      %dd LLorem ipsum dolor sit amet, consectetur adipisicing elit, orem ipsum dolor sit amet, consectetur adipisicing elit, 
    %dl
      %dt Product Description
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    %dl
      %dt Product Description
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  .span6
    %dl
      %dt Product Description
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    %dl
      %dt Product Description
      %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    %blockquote
      %p Lorem ipsum dolor sitLorem ipsum dolor sit amet, consectetur adipisicing elit,  amet, consectetur adipisicing elit,
      %small Someone important
