%h1 Edit information

= render 'form'

= link_to @product, :class => 'btn primary' do 
  <i class="icon-eye-open icon-black"></i> Show
= link_to user_products_path(current_user), :class => 'btn primary' do 
  <i class="icon-arrow-left icon-black"></i> Back
