$('#product-listing').append("<%= escape_javascript("<option selected=selected value=#{@product.id}>#{@product.name}</option>".html_safe) %>");
$('#product-listing').trigger('change');
$('#product-listing-by-name').append("<%= escape_javascript("<option selected=selected value=#{@product.id}>#{@product.name}</option>".html_safe) %>");
$('#product-listing-by-name').trigger('change');
